* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.color-dark {
    color: hsl(192, 100%, 9%);
    font-family: 'Poppins', sans-serif;
}

.color-text-dark{
    color: hsl(192, 100%, 9%);
}

.header nav {
    padding: 3.5rem 5%;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: -50%;
}

.header-button-try {
    padding: 6px 30px;
    border: 1px solid hsl(321, 100%, 78%);
    border-radius: 20px
}

.header-button-try a {
    text-decoration: none;
    color: hsl(321, 100%, 78%);
}

.header-information {
    margin-top: 10rem;
}

.header-information h1 {
    font-weight: 700;
    font-size: 2.8rem;
}

.header-information .para {
    width: 42%;
    margin: 30px auto;
    font-weight: 400;
    font-size: 19px;
}

.header-button-started {
    margin: 4rem 0 8rem;
}

.header-button-started a{
    padding: 23px 95px;
    background-color: hsl(322, 100%, 66%);
    border-radius: 50px;
    text-decoration: none;
    color: hsl(207, 100%, 98%);
    font-weight: 600;
    font-size: 19px;
}

.header-information img {
    width: 70%;
}

.info {
    display: flex;
    justify-content: space-evenly;
    margin: 5rem 0;
}

.info-cifra {
    font-size: 4rem;
    font-weight: 700;
}

.info-part img {
    width: 20%;
    float: left;
}

.info-paragraph {
    color: gray;
    font-size: 19px;
    margin: 10px 0;
}

/**************** SECTION GROWN TOGETHER ****************/

.section-grown-together {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem 2%;
    background-color:hsl(207, 100%, 98%);
}

.section-grown-together img {
    width: 40%;
}

.section-grown-together .text {
    text-align: left;
    width: 40%;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    margin: 20px 0;
}

/**********SECTION FLOWING CONVERSATIONS *************/

.section-flowing-conversations {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section-flowing-conversations img {
    width: 40%;
}

.section-flowing-conversations .text-flowing {
    width: 40%;
    text-align: left;
}

/******************** SECTION USERS **********************/

.section-users {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:hsl(207, 100%, 98%);
}

.section-users img {
    width: 40%;
}

.section-users .text-users {
    width: 39%;
    text-align: left;
}

/****************** FOOTER **********************/

footer {
    display: flex;
    justify-content: space-evenly;
    background-color: hsl(192, 100%, 9%);
    color: #fff;
    padding: 2rem 0 8rem;
}

.footer-logo {
    padding: 2rem 0;
}

.social-media {
    text-align: left;
    width: 25%;
}

.contact {
    display: flex;
    margin: 1rem 0;
}

.contact img {
    margin-right: 1.5rem;
}

.newsletter {
    text-align: left;
    width: 30%;
    padding: 2rem 0;
}

.newsletter-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 1rem;
}